@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Work+Sans:wght@500&display=swap');
body{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}
.btn-primary{
    font-size: 18px;
    font-weight: 600;
    color: white;
    padding: 10px 20px;
    background-color: #FF900E;
    border: 0;
    border-radius: 8px;
}

/* header section styles */
header{
    padding-bottom: 40px;
    background-color: #faebdaf6;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
}
.nav-title{
    font-size: 40px;
    font-weight: 700;
    color: #131313;
}
.menu ul{
    display: flex;
}
.menu ul li{
    list-style: none;
    margin-right: 50px;
}
.menu ul li a{
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
}
/* banner section styles */
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 0 200px;
}
.banner-content{
    padding: 0 200px;
    text-align: center;
}
.banner-title{
    font-size: 54px;
    font-weight: 700;
    color: #131313;
    line-height: 1.2em;
}
.banner-info{
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    margin-top: 0;
    margin-bottom: 20px;
}
.banner-img img{
    width: 1200px;
    height: 600px;
}
/* main styles */
main{
    max-width: 1200px;
    margin: 80px auto;
}
/* our feature section styles */
.feature{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img-gallery{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.img-gallery img{
    width: 340px;
    height: 340px;
}
.feature-content{
    width: 40%;
}
.feature-title{
    font-size: 40px;
    font-weight: 700;
    color: #131313;
}
.feature-info{
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    line-height: 1.5em;
    margin-bottom: 10px;
}
/* our attribute section styles */
.attribute{
    padding: 130px 0 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.attribute-content{
    width: 40%;
    padding-right: 60px;
}
.attribute-title{
    padding: 10px;
    font-size: 40px;
    font-weight: 700;
    color: #131313;
    border-left: 5px solid #FF900E;
}
.attribute-img{
    width: 60%;
}
.attribute-img img{
    width: 100%;
}
.attribute-info{
    font-size: 16px;
    font-weight: 300;
    color: #727272;
}
.box{
    width: 450px;
    margin: 20px 0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px lightgray;
    overflow: hidden;
}
.attribute-subtitle{
    font-size: 20px;
    font-weight: 600;
    color: #131313;
}
.attribute-detail{
    font-size: 14px;
    font-weight: 300;
    color: #727272;
}
.short-text{
    font-size: 14px;
    font-weight: 300;
    margin-top: -10px;
    color: #727272;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.big-button{
    font-size: 36px;
    font-weight: 600;
    color: white;
    line-height: 1em;
    background-color: #FF900E;
    width: 220px;
    height: 140px;
    padding: 30px;
    border: 0;
    border-radius: 8px;
    position: relative;
    top: -190px;
    left: 530px;
    cursor: pointer;
}
.mini{
    font-size: 18px;
    font-weight: 400;
}
/* Facts section styles */
.facts{
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.fact{
    width: 60%;
}
.fact-title{
    font-size: 40px;
    font-weight: 700;
    color: #131313;
}
.fact-info{
    font-size: 16px;
    font-weight: 400;
    color: #727272;
}
.fact-box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    justify-items: center;
}
.icon-box{
    display: flex;
    flex-direction: column;
    border: 1px solid #FF900E;
    border-radius: 8px;
    height: 240px;
    width: 240px;
    justify-content: center;
    align-items: center;
    transition: transform 1s ease;
}
.icon{
    transition: transform 1s ease;
}
.icon-box:hover .icon{
    transform: scale(2) rotate(360deg);
}
.icon-box:hover{
    transform: scale(1.2);
}
.icon-title{
    font-size: 40px;
    font-weight: 600;
    color: #131313;
    line-height: 1em;
    margin: 10px;
}
.icon-info{
    font-size: 18px;
    font-weight: 500;
    color: #727272;
    line-height: 1em;
    margin: 10px;
}

/* bottom banner section styles */
.b-banner{
    width: 1000px;
    height: 300px;
    padding: 0 30px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: right;
    background-image: url(../images/bottom\ banner\ op.jpg) , linear-gradient(to left , black , #FF900E);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
}
.b-title{
    width: 50%;
    font-size: 30px;
    font-weight: 700;
    color: white;
}

/* Sponsor section styles */
.sponsors{
    padding: 100px 40px;
}
.sponsor-title{
    font-size: 40px;
    font-weight: 700;
    color: #131313;
    text-align: center;
}
.sponsor-info{
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    text-align: center;
    padding: 0 200px;
    margin-bottom: 50px;
}
.sponsor{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-top: 50px;
    align-items: center;
    gap: 20px;
}
.sponsor-img img{
    width: 166px;
    height: 40px;
}
.logo{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    
}
/* footer section styles */
.foot{
    width: 1200px;
    padding: 20px;
    margin: 60px auto;
    text-align: center;
    background-color: #FFF4E7;
}
.foot-title{
    font-size: 16px;
    font-weight: 300;
    color: #727272;
}

